/* Global Styles */
button:hover {
  cursor: pointer;
}


body {
  background-color: #fafafa!important;
  background-image: url("resources/images/R5-D4.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: 50px 150px;
}

.main {
  margin-bottom: 30px;
}

.center-page {
  width: 100px;
  height: 100px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

#loading-title {
  position: relative;
  top: -80px;
  margin-left: -30px;
  width: 400px;
}

#loading-spinner {
  position: relative;
  top: -60px;
}