<!-- Loading Spinner -->
<div *ngIf="homeLoading" class="center-page">
  <div id="loading-spinner">
    <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
  </div>
</div>

<!-- Main Page -->
<div *ngIf="!homeLoading">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <button (click) = "testNetwork()" type="button" class="btn btn-outline-danger btn-lg btn-block">Test</button>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
            <span *ngIf="!testing">{{results}}</span>
            <span *ngIf="testing"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
