<!-- Loading Spinner -->
<div *ngIf="homeLoading" class="center-page">
  <div id="loading-spinner">
    <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
  </div>
</div>

<!-- Main Page -->
<div *ngIf="!homeLoading">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <button type="button" class="btn btn-outline-danger btn-lg btn-block">Test</button>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
            Network results go here.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>